$primary: #00234c;
$sidebar-hover: rgba(33, 45, 65, 0.28);
$sidebar-active: #23385d;
$primary-light: #364a78;
$primary-dark: #000024;
$light-blue: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
$white: #fff;
$green: #25c180;
$font-size: 14px;
